.name{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20;
    
}
.direction{
    color:black;
    font-family:arial;
    font-size:15;
    background-color:chartreuse;
}
.speech{
    color:black;
    font-family:times;
    font-size: 10px;
}
.stage-direction:hover{
    background-color: burlywood;
    color:crimson;
    }
.laurence{
  color: brown;
}
.romeo{
  color:cyan
}
.juliet{
   color:darkorchid
}
div{ margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 70px;
}
table{
     border: solid 3px red;
     border-collapse: separate;
    }
th,td{
    border:dashed 1px black;
    text-align:center;
}
.name:hover{
    color:red;
    border: solid 2px;
}
img{
    width:400px;
    height:200px;
    margin-left: 40px;
    border-radius: 15px;
}